/* style.css */
/* BASIC STYLINGS
============================================================================= */
body    { padding-top:20px; }
 
 
 #navigation a.active    { background:#00BC8C;color:white; }
/* form styling */
#form-container                { background:#2f2f2f; margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:#151515; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px;color:#FAFAFA;}
 
/* numbered buttons */
#status-buttons {margin-top:20px;}
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-transform:uppercase; }

 
/* we will style the span as the circled number */
#status-buttons span            { background:	#AAAAAA; display:block; height:30px; margin:0 auto 10px; padding-top:7px; width:30px; 
    border-radius:50%; }
 
/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }
/* style.css */
/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px;color:white; }
#signup-form   input  { background-color:#CFCFCF;}


.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}
img.class{
	  background-color: red;
}
img.phone:first-child {
  display: block;
}


ul.phone-thumbs {
  margin: 0px;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 125px;
  width: 125px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}