<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <div class="row">
      <div >
	        <label class="control-label" for="query">Search:</label>
          <input type="text" class="form-control" id="query" name="query" ng-model="query">
      </div>
      <div >
        <label class="control-label" for="orderprop">Sort by:</label></br> 
        <select id="orderprop" ng-model="orderProp" style="width:150px;height:30px;">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
       </select>
      </div>
      </div>
     
    </div>
	
    <div class="col-md-10 col-sm-12" style="margin-top: 20px;">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a  ui-sref-active="active" ui-sref="about.phonedetail({id:phone.id})" class="thumb"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"></a>
          <a  ui-sref-active="active" ui-sref="about.phonedetail({id:phone.id})">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
